body{
    width: 80vw;
    border: 10px solid blue;
}

.mainGrid{   
    /* width: 100%;
    border: 5px dashed red; */
    display: grid;
    grid-template-areas: 
    "vertical . ....... ......." 
    "vertical . feature feature"
    "........ . ....... .......";
    /* gap: 1rem;  */

}

.cell{
    font-size: 3rem;
    background-color: rgb(214, 214, 214);
    aspect-ratio: 1;

    display: grid;
    place-items: center;
    
}

.featureBlock{
    grid-area: feature;
    background-color: red;

    display: grid;
    place-items: center;
   
}

.verticalBlock{
    grid-area: vertical;

    display: grid;
    place-items: center;
} 